@use '../../utils/mixins' as mixin;

.nav {
  font-size: 14px;
  text-transform: uppercase;

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    @include mixin.on-min-desktop {
      flex-direction: row;
      gap: 83px;
    }
  }

  @include mixin.on-min-desktop {
    margin: auto;
    max-width: 578px;
  }
}
