@use '../../utils/vars' as var;
@use '../../utils/mixins' as mixin;

.hero {
  margin-bottom: 110px;
  color: var.$secondary-text;

  &__wrapper {
    display: flex;
    flex-direction: column-reverse;

    @include mixin.on-tablet {
      flex-direction: row;
      align-items: center;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;

    @include mixin.on-tablet {
      max-width: 378px;
      margin-bottom: 30px;
      font-size: 48px;
    }

    @include mixin.on-min-desktop {
      font-size: 62px;
    }
  }

  &__description {
    line-height: 1.4;
    letter-spacing: 1px;

    @include mixin.on-tablet {
      max-width: 276px;
    }
  }

  &__image-wrapper {
    margin-bottom: 40px;
    text-align: center;

    @include mixin.on-tablet {
      max-width: 430px;
      margin-bottom: 0;
    }
  }

  &__image {
    max-width: 500px;

    @include mixin.on-tablet {
      object-position: initial;
    }

    @include mixin.on-min-desktop {
      max-width: 700px;
    }

    @include mixin.on-desktop {
      max-width: 818px;
    }
  }
}
