@use '../../utils/mixins' as mixin;

.futuristic-design {
  margin-bottom: 110px;

  &__menu-nav {
    display: none;

    @include mixin.on-min-desktop {
      display: block;
      margin-bottom: 90px;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 64px 25px;
    margin-bottom: 110px;

    @include mixin.on-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mixin.on-min-desktop {
      grid-template-columns: repeat(4, 1fr);
      margin-bottom: 140px;
    }

    @include mixin.on-desktop {
      margin-bottom: 170px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    width: 70px;
    max-height: 50px;
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;

    @include mixin.on-min-desktop {
      min-height: 52.8px;
    }
  }

  &__text {
    font-size: 14px;
    text-align: center;
  }

  &__image-wrapper {
    text-align: center;
  }

  &__image {
    object-position: 15px;
  }
}
