@use 'mixins' as *;

.container {
  padding-inline: 30px;

  @include on-tablet {
    padding-inline: 34px;
  }

  @include on-desktop {
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 123px;
  }
}
