@use 'mixins' as mixin;

.container {
  padding-inline: 30px;

  @include mixin.on-tablet {
    padding-inline: 34px;
  }

  @include mixin.on-desktop {
    max-width: 1440px;
    margin: 0 auto;
    padding-inline: 123px;
  }
}
